.modal {
    height: 0;
    width: 0;
    overflow-y: hidden;

    &.visible {
        height: 100vh;
        overflow: hidden;
        background: linear-gradient(180deg, #311C54 28.26%, #0F1128 92.11%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-inner {
        display: flex;
        padding-top: 100px;
        justify-content: space-around;
        align-items: center;
        height: 80%;
        flex-direction: column;
    }

    &__link {
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }
}