.card {
    background-color: #000;
    width: 331px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/backgrounds/card.png);
    margin-right: 80px;
    margin-bottom: 28px;
    cursor: pointer;

    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        color: #95DFFF;
    }
}

@media only screen and (max-width: 1182px) {
    .card {
        margin-right: 20px !important;
        &:nth-child(2n) {
            margin-right: 0;
        }

        &__title {
            font-size: 22px !important;
        }
    }
}

@media only screen and (max-width: 725px) {
    .card {
        margin-right: 0 !important;

        &__title {
            font-size: 22px !important;
        }
    }
}